<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>${localPath}${currentYearMouth}/${currentDay}/${bundleVersion}.ipa</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>
</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>
</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>${BundleID}</string>
<key>bundle-version</key>
<string>${APPVersion}</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>${APPName}</string>
</dict>
</dict>
</array>
</dict>
</plist>